spring:
  application:
    name: catalog-service

  datasource:
    url: jdbc:h2:mem:catalogdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jdbc:
    initialize-schema: always

server:
  port: 8081